
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');
// Variables
@import 'variables';

// Bootstrap
@import '~fullcalendar/dist/fullcalendar.css';
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

$scrollbar-width: 5px;
$chat-thread-bgd-color: rgba(25, 147, 147, 0.2);
$chat-thread-msg-arrow-size: 10px;
$chat-thread-avatar-size: 25px;
$chat-thread-offset: #{$chat-thread-avatar-size + 20px};
$default-shadow-color: rgb(0, 0, 0);
@mixin fancy-background() {
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@mixin fancy-scrollbar() {
    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    &::-webkit-scrollbar-track {
        border-radius: $scrollbar-width;
        background-color: rgba(25, 147, 147, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $scrollbar-width;
        background-color: $chat-thread-bgd-color;
    }
}

@mixin scrolling-shadows($background-color: transparent, $shadow-intensity: 0.5, $shadow-color: $default-shadow-color, $cover-size: 40px, $shadow-size: 14px) {
    // Shadow covers
    background: linear-gradient($background-color 30%, rgba($background-color, 0)), linear-gradient(rgba($background-color, 0), $background-color 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba($shadow-color, $shadow-intensity), rgba($shadow-color, 0)), radial-gradient(50% 100%, farthest-side, rgba($shadow-color, $shadow-intensity), rgba($shadow-color, 0)) 0 100%;
    background: linear-gradient($background-color 30%, rgba($background-color, 0)), linear-gradient(rgba($background-color, 0), $background-color 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba($shadow-color, $shadow-intensity), rgba($shadow-color, 0));
    // also add button shadow:
    //radial-gradient(farthest-side at 50% 100%, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: $background-color;
    background-size: 100% $cover-size, 100% $cover-size, 100% $shadow-size, 100% $shadow-size;
    // Opera doesn't support this in the shorthand
    background-attachment: local, local, scroll, scroll;
}

.modal{
    z-index: 1101;
}

.projects-progress{
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    li:not(:first-child){
        margin-top: 25px;
    }
}

.card, .overlay-wrapper {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        >.fas {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            color: #000;
            font-size: 30px;
        }
    }
}

.card-header {
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    .card-title {
        font-size: 1.25rem;
        font-weight: 400;
        margin: 0;
    }
}

.direct-chat-msg{
    &.right a{
        color: #FFC107;
        font-weight: 700;
    }
    a{
        color: orangered;
        font-weight: 700;
    }
}
.wap-at-img{
    height: 320px;
    overflow-y: auto;
    .at-img{
        min-height: 150px;
        border: 2px solid #28a745;
        border-radius: 3px;
        cursor: pointer;
        &.active{
            box-shadow: inset 0px 0px 10px 4px rgb(40, 167, 69)
        }
        .title{
            background-color: #28a745;
            font-weight: 700;
            padding: 2px;
            a{
                color: #FFC107;
            }
            i{
                position: absolute;
                right: 1.5em;
                top: .5em;
                color: rgba(255,255,255,.8);
                &:hover{
                    color: #495057;
                }
            }
        }
    }
}

.nav-tab{
    margin-top: 1px;
    padding: 7px 15px;
    text-decoration: none !important;
    display: block;
    color: #67757c;
    &.active{
        border-bottom: 2px solid #F3565D;
        color: #3490dc;
    }
    &:hover{
        border-bottom: 2px solid #fbcdcf;
        color: #3490dc;
        
    }
}
code{
    background-color: rgb(238, 238, 238);
    padding: 2px 4px;
}
.login-page{
    background-image: url('/img/system/sigin-background-image.jpg');
    background-size: cover;
    height: 100vh !important;
    .login-box{
        .card{
            border-radius: 0px;
            box-shadow: none;
        }
    }
}

.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text {
    color: #777;
    background-color: transparent;
    display: flex !important;
}

.login-logo, .register-logo {
    a{
        text-decoration: none;
        font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        &:hover{
            color: #444;
        }
    }
}

.table-ticket, .table-striped{
    .tb-icon {
        font-size: 1.2rem;
    }
    .center {
        text-align: center;
    }
}

.bd-low{
    border-left: 5px solid #38c172 !important;
}

.bd-medium{
    border-left: 5px solid #3490dc !important;
}

.bd-higth{
    border-left: 5px solid #e3342f !important;
}

.v-scroll{
    @include fancy-scrollbar;
}

.floating-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
    transition: all 250ms ease-out;
    border-radius: 50%;
    opacity: 0;
    z-index: 1100;
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    &.enter:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        opacity: 1;
    }
    &.enter {
        transform: translateY(0);
        opacity: 0.6;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
    }
    &.expand {
        width: 300px;
        max-height: 363px;
        height: 363px;
        border-radius: 5px;
        cursor: auto;
        opacity: 1;
    }
    :focus {
        outline: 0;
        box-shadow: 0 0 3pt 2pt rgba(#0EC879, 0.3);
    }
    .count-unread{
        position: absolute;top: -5px;right: 0px;
    }
    .contacts-list{
        li{
            cursor: pointer;
            &:hover{
                background-color: rgba(25, 147, 147, 0.2);
            }
        }
    }
    button {
        background: transparent;
        border: 0;
        color: white;
        text-transform: uppercase;
        border-radius: 3px;
        cursor: pointer;
    }
    .chat {
        display: flex;
        flex-direction: column;
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        transition: all 250ms ease-out;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &.enter {
            opacity: 1;
            border-radius: 0;
            // margin: 10px;
            width: auto;
            height: auto;
        }
        .header {
            flex-shrink: 0;
            padding-bottom: 10px;
            display: flex;
            background: transparent;
            .title {
                flex-grow: 1;
                flex-shrink: 1;
                padding: 0 5px;
            }
            button {
                flex-shrink: 0;
            }
        }
        .messages {
            padding: 10px;
            margin: 0;
            list-style: none;
            overflow-y: scroll;
            overflow-x: hidden;
            flex-grow: 1;
            border-radius: 4px;
            background: transparent;
            @include fancy-scrollbar;
        }
        .footer {
            flex-shrink: 0;
            display: flex;
            //flex-direction: row-reverse;
            padding: 10px;
            max-height: 90px;
            background: transparent;
            .text-box {
                border-color: #1b3f57;
                border-radius: 3px;
                background: $chat-thread-bgd-color;
                width: 100%;
                margin-right: 5px;
                color: #0EC879;
                overflow-y: auto;
                @include fancy-scrollbar;
            }
        }
    }
}

// Animation
// --------------------------------------
@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
.card-vue{
    background: transparent;
    color: white;
    margin-bottom: 0px !important;
}
.direct-chat-vue .right > .direct-chat-text {
    background: rgba(25, 147, 147, 0.2);
    border-color:rgb(25, 68, 88);
    color: #0AD5C1;
}
  
.direct-chat-vue .right > .direct-chat-text:after, .direct-chat-vue .right > .direct-chat-text:before {
    border-left-color: rgb(25, 68, 88);
}

.direct-chat-vue .left > .direct-chat-text {
    background: rgba(25, 147, 147, 0.2);
    border-color:rgb(25, 68, 88);
    color: #0EC879;
}
  
.direct-chat-vue .left > .direct-chat-text:after, .direct-chat-vue .left > .direct-chat-text:before {
    border-right-color: rgb(25, 68, 88);
}

.no-messager{
    background-image: url("/img/system/rsz_no_message.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#notfound {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0px;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #211b19;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #ff6300;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    color: #ff6300;
    background: #211b19;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
      font-size: 148px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 148px;
      margin: 0px auto 10px;
    }
    .notfound .notfound-404 h1 {
      font-size: 86px;
    }
    .notfound .notfound-404 h2 {
      font-size: 16px;
    }
    .notfound a {
      padding: 7px 15px;
      font-size: 14px;
    }
  }

//   Full calendar
.fc-content {
    padding: 5px;
}
.fc-event-container{
    cursor: pointer;
}
.fc-event {
    border-radius: 0 !important;
}

.fc-grid {
    width: 100%;
    border: 0;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

.fc-toolbar {
    padding: .5rem;
    margin: 0;
}

.fc-day-grid-event .fc-time {
    display: none;
}

.fc-button {
    border-radius: 2px !important;
    border-color: #e2e7f1 !important;
    background: #fff !important;
    height: auto !important;
    padding: 5px 10px !important;
}

.fc-state-active {
    background-color: #f2f2f2 !important;
    box-shadow: none !important;
}
.fc-button:focus {
    outline: none;
}
  